<h1>Dashboard</h1>

<h2>Overdue Tasks</h2>

<% @tasks_overdue.each do |task| %>
  <div class="task">
    <h1 class="task--title"><%= task.title %></h1>
    <p><strong>Due Date: <%= task.due_date %></strong></p>
  </div>
<% end %>
