.menu-text {
  font-size: 1.75rem;
}

// So that the right menu ends on the same vertical lign as the main-section
.menu.align-right {
  padding-right: 1rem;
}

// Main section wrapping
.main-section {
  margin: 0 2rem;
}
