// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks-overwiev {
  max-width: none;
  margin-top: 1.5rem;
}

.task-column {
  color: #fff;
  min-height: 10rem;
  margin-bottom: 1rem;
  border-radius: $global-radius;
}

.todo {
  background-color: $color4;
}

.doing {
  background-color: $color1;
  color: #fff;
}

.done {
  background-color: $color3;
}

.task--white {
  color: #fff;
}
.task-column--title {
  font-size: 2rem;
  border-bottom: 1px solid #fff;
}

.task {
  border: 1px solid black;
  border-radius: $global-radius;
  margin: 0.5rem;
  padding: 0.5rem;
  // @include flex-grid-column(30%, 1%);
}

.task--title {
  font-size: 1.6rem;
}

// Styling of the new task form
.field--long {
  width: 65%;
}

.field--short {
  width: 30%;
}
