// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks-overwiev {
  max-width: none;
  margin-top: 1.5rem;
}

.task-column {
  min-height: 10rem;
  padding-bottom: 1rem;
  border-radius: $global-radius;
  background-color: $light-gray;
  @include breakpoint(medium down) {
    margin-bottom: 1rem;
  };
}

.todo {
  background-color: $color4;
}

.doing {
  background-color: $color1;
  color: $white;
}

.done {
  background-color: $color3;
  color: $white;
}

.task--white {
  color: #fff;
}
.task-column--title {
  font-size: 2rem;
  border-bottom: 1px solid $color2;
}

.task {
  border-radius: $global-radius;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  padding: 0.75rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

  p {
    margin: 0 0 1rem 0;
    line-height: 1.35rem;
  }
}

.task--title {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.task_overdue {
  // background-color: 
}

// Styling of the new task form
.field--long {
  width: 65%;
}

.field--short {
  width: 30%;
}
